--- 
layout: page 
slide_id: 1 
---



    <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6  text-justify conference-text">
            <p class="lead">Call For Papers </p>
            <p>MUWS Workshop is a forum  bringing together researchers and practitioners from the fields of Information Retrieval, Natural Language Processing, Computer Vision, Human Computation, and Semiotics to discuss and evaluate methods and solutions for effective and efficient analytics of multimodal information present in the Web or social media.</p>

            <p>We are interested in approaches, tasks, and metrics for effectively analysing multimedia information such as image-text pairs and videos to design methodologies that jointly consider information from multiple modalities. The interdisciplinary nature of processing such multimodal data involves combining ideas and methods from the fields mentioned above. We envision the workshop as a forum for researchers and practitioners from academia and industry for original contributions and practical application on multimodal information processing, mining, retrieval, search, and management.</p>

            <p>Particular areas of interest include, but are not limited to:
            </p>

            <ul>

                <li>Multimodal Event Detection, and Understanding</li>
                <li>Multimodal News Analytics</li>
                <li>Multimodal Sentiment Analysis</li>
                <li>Multimodal Emotion Recognition</li>
                <li>Multimodal Sarcasm Detection</li>
                <li>Multimodal Hate Speech Detection</li>
                <li>Misinformation Detection for Multimodal Data</li>
                <li>Unsupervised, Self-supervised, or Semi-supervised Learning for Multimodal Data</li>
                <li>Multimodal Question Answering Systems</li>
                <li>Image-text Relations, Cross-modal Relations</li>
                <li>Semantic Relations (semiotics)</li>
                <li>Multimodal Rhetoric in Online Media</li>
            </ul>


            {% include contact-us.html %}

        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text text-justify">
            
            <p>The proceedings of the workshops will be published in The WebConf proceedings (companion volume). Workshop papers should not have been previously published, should not be considered for publication, and should not be under review for another workshop, conference, or journal. They should be no more than 12 pages in length (maximum 8 pages for the main paper content + maximum 2 pages for appendixes + maximum 2 pages for references). Papers must be submitted in PDF according to the ACM format published in the <a href="https://www.acm.org/publications/proceedings-template"> ACM guidelines </a>, selecting the generic “sigconf” sample. The PDF files must have all non-standard fonts embedded. Workshop papers must be self-contained and in English.</p>



            {% include card-important-dates.html %}


            <p><strong>Submission Page</strong>: <a href="https://easychair.org/conferences/?conf=muws2022">https://easychair.org/conferences/?conf=muws2022</a></p>

        </div>

    </div>
