---
layout: page
slide_id: 0
---




<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">

            <h5>MUWS Workshop 2022</h5>

            <p> The 1st International Workshop on Multimodal Understanding for the Web and Social Media (MUWS) will be co-located with 
                <a href="https://www2022.thewebconf.org/"> The WebConf (WWW) 2022</a>, April 25-29 2022.</p>


            <a href="https://muws-workshop.github.io/2022-program.html">Workshop Program</a>


            <p> The goal of the interdisciplinary MUWS Workshop is to bring together researchers and practitioners from the fields of Information Retrieval, Natural Language Processing, Computer Vision, Human Computation, and Semiotics to discuss and evaluate methods and solutions for effective and efficient analytics of multimodal information present in the Web or social media.

            We are interested in approaches, tasks, and metrics for effectively analysing multimedia information such as image-text pairs and videos to design methodologies that jointly consider information from multiple modalities. The interdisciplinary nature of processing such multimodal data involves combining ideas and methods from the fields mentioned above. We envision the workshop as a forum for researchers and practitioners from academia and industry for original contributions and practical application on multimodal information processing, mining, retrieval, search, and management.</p>

                <p>The topics of interest include, but are by no means limited
                to:</p>
                
                <ul>
                <li>Multimodal Event Detection, and Understanding</li>
                <li>Multimodal News Analytics</li>
                <li>Multimodal Sentiment Analysis</li>
                <li>Multimodal Emotion Recognition</li>
                <li>Multimodal Sarcasm Detection</li>
                <li>Multimodal Hate Speech Detection</li>
                <li>Misinformation Detection for Multimodal Data</li>
                <li>Unsupervised, Self-supervised, or Semi-supervised Learning for Multimodal Data</li>
                <li>Multimodal Question Answering Systems</li>
                <li>Image-text Relations, Cross-modal Relations</li>
                <li>Semantic Relations (semiotics)</li>
                <li>Multimodal Rhetoric in Online Media</li>
                </ul>


   
                {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <!--######### important dates ##########-->
            {% include card-important-dates.html %}
            <!--####################################-->
            <!--######### news #####################-->
            {% include card-news.html %}
            <!--####################################-->
            {% include conference-badge.html %}
            <!--####################################-->
            {% include twitter-badge.html %}
            <!--####################################-->
    </div>
</div>
