---
layout: page
slide_id: 3
---

    <div><strong>Organizing Committee</strong></div>
      <div class="row">
        <div class="column">
          <img src="../assets/images/Sherzod_Hakimov.png">
           <center><a href="https://sherzod-hakimov.github.io/" style="color:black">Sherzod Hakimov</a></center> <br />
          <center><small>TIB - Leibniz Information Centre for Science and Technology</small></center><br />
        </div>
        <div class="column">
          <img src="../assets/images/Gullal_Cheema.png">
           <center><a href="https://gullalc.github.io/" style="color:black">Gullal S. Cheema</a></center> <br />
          <center><small>TIB - Leibniz Information Centre for Science and Technology</small></center><br />
        </div>
        <div class="column">
          <img src="../assets/images/Marc_Kastner.png">
           <center><a href="https://www.marc-kastner.com/" style="color:black">Marc A. Kastner</a></center> <br />
          <center><small>National Institute of Informatics (NII), Tokyo, Japan</small></center><br />
        </div>
    </div>
    <div class="row">
        <div class="column">
          <img src="../assets/images/Rajiv_Shah.png">
           <center><a href="https://www.iiitd.edu.in/~rajivratn" style="color:black">Rajiv Ratn Shah</a></center> <br />
          <center><small>Indraprastha Institute of Information Technology, Delhi, India</small></center><br />
        </div>
        <div class="column">
          <img src="../assets/images/Karan_Sikka.png">
           <center><a href="https://ksikka.com/" style="color:black">Karan Sikka</a></center> <br />
          <center><small>Center for Vision Technologies, SRI International in Princeton, USA</small></center><br />
        </div>
    </div>
  </div>

  <!-- <div><strong>Programme Committee</strong></div> -->



    <!-- <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            
            <div class="card">
                <div class="card-header text-white bg-inverse"><strong>Organizing Committee</strong></div>
                {% if site.data.conference.program_chair %}
                {% for committee in site.data.conference.program_chair %}
                 <div class="card-block bg-faded committee">
                    <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
                </div>  
                {% endfor %}
                {% else %}
                <div class="card-block bg-faded committee">
                    <p class="card-title">TBA</p>
                    <p><strong>TBA</strong><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                </div>               
                {% endif %}
            </div>
            
            <div class="card">
                <div class="card-header text-white bg-inverse"><strong>Program Committee</strong></div>
                {% if site.data.conference.program_committee %}
                {% for committee in site.data.conference.program_committee %}
                <div class="card-block bg-faded committee">
                    <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
                </div>  
                {% endfor %}
                {% else %}
                <div class="card-block bg-faded committee">
                    <p><strong>TBA</strong><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                </div>               
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            

        </div>

    </div> -->