---
layout: page
slide_id: 3
---

    
    <div>
        <center>
        <h3>Organizing Committee</h3>

        
       <table style="undefined;table-layout: fixed; width: 613px">
            <colgroup>
            <col style="width: 250px">
            <col style="width: 250px">
            <col style="width: 250px">
            </colgroup>
            <thead>
              <tr>
                <th style="text-align: center;"><img height="60%" width="60%" src="./assets/images/Sherzod_Hakimov.png"></th>
                <th style="text-align: center;"><img height="60%" width="60%" src="./assets/images/Gullal_Cheema.png"></th>
                <th style="text-align: center;"><img height="60%" width="60%" src="./assets/images/Marc_Kastner.png"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center;"><a href="https://sherzod-hakimov.github.io/"><b>Sherzod Hakimov</b></a></td>
                <td style="text-align: center;"><a href="https://gullalc.github.io/"><b>Gullal S. Cheema</b></a></td>
                <td style="text-align: center;"><a href="https://www.marc-kastner.com/"><b>Marc A. Kastner</b></a></td>
              </tr>
              <tr>
                <td style="text-align: center;">TIB - Leibniz Information Centre for Science and Technology, Hannover, Germany</td>
                <td style="text-align: center;">TIB - Leibniz Information Centre for Science and Technology, Hannover, Germany</td>
                <td style="text-align: center;">National Institute of Informatics (NII), Tokyo, Japan</td>
              </tr>

              <tr>
                <td style="text-align: center;"><img height="60%" width="60%" src="./assets/images/Rajiv_Shah.png"></td>
                <td style="text-align: center;"><img height="60%" width="60%" src="./assets/images/Karan_Sikka.png"></td>
                <td></td>
              </tr>
              <tr>
                <td style="text-align: center;"><a href="https://www.iiitd.edu.in/~rajivratn"><b>Rajiv Ratn Shah</b></a></td>
                <td style="text-align: center;"><a href="https://ksikka.com/"><b>Karan Sikka</b></a></td>
                <td></td>
              </tr>
              <tr>
                <td style="text-align: center;">Indraprastha Institute of Information Technology, Delhi, India</td>
                <td style="text-align: center;">Center for Vision Technologies, SRI International in Princeton, USA</td>
                <td></td>
              </tr>
            </tbody>
            </table>
    </div>
    </center>


    <div><center><h3>Programme Committee</h3>

        <table>
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Janine Wildfeuer</b> (University of Groningen, Netherlands)</td>
          </tr>
          <tr>
            <td><b>Arka Ujjal Dey</b> (Indian Institute of Technology Jodhpur, India)</td>
          </tr>
          <tr><td><b>Tuomo Hiippalam</b> (University of Helsinki, Finland)</td></tr>
          <tr><td><b>Suman Ghosh</b> (Huawei, Finland)</td></tr>
          <tr><td><b>Sandro Pezzelle</b> (University of Amsterdam, Netherlands)</td></tr>
          <tr><td><b>Alakananda Vempala</b> (Bloomberg L.P., USA)</td></tr>
          <tr><td><b>Christian Otto</b> (TIB - Leibniz Information Centre for Science and Technology, Germany)</td></tr>
          <tr><td><b>Eric Müller-Budack</b> (TIB - Leibniz Information Centre for Science and Technology, Germany)</td></tr>
          <tr><td><b>Sina Zarrieß</b> (Bielefeld University, Germany)</td></tr>
          <tr><td><b>Letitia Parcalabescu</b> (Heidelberg University, Germany)</td></tr>
          <tr><td><b>Nils Murrugarra-Llerena</b> (Snapchat Inc., USA)</td></tr>
          <tr><td><b>Niluthpol Chowdhury Mithun</b> (SRI International, USA)</td></tr>
          <tr><td><b>Ricardo Marcacini</b> (University of São Paulo, Brazil)</td></tr>
          <tr><td><b>Julia Kruk</b> (Bombora, USA)</td></tr>
          <tr><td><b>Malihe Alikhani</b> (University of Pittsburgh, USA)</td></tr>
        </tbody>
        </table>


    </center>
    </div>

    <div>
        <center>
        {% include twitter-badge.html %}
        </center>
    </div>




    <!-- <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            
            <div class="card">
                <div class="card-header text-white bg-inverse"><strong>Organizing Committee</strong></div>
                {% if site.data.conference.program_chair %}
                {% for committee in site.data.conference.program_chair %}
                 <div class="card-block bg-faded committee">
                    <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
                </div>  
                {% endfor %}
                {% else %}
                <div class="card-block bg-faded committee">
                    <p class="card-title">TBA</p>
                    <p><strong>TBA</strong><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                </div>               
                {% endif %}
            </div>
            
            <div class="card">
                <div class="card-header text-white bg-inverse"><strong>Program Committee</strong></div>
                {% if site.data.conference.program_committee %}
                {% for committee in site.data.conference.program_committee %}
                <div class="card-block bg-faded committee">
                    <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
                </div>  
                {% endfor %}
                {% else %}
                <div class="card-block bg-faded committee">
                    <p><strong>TBA</strong><p>
                    <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                </div>               
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            

        </div>

    </div> -->
