<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand fw-bold" href="{{ .Site.BaseURL | relLangURL }}">
      <img width="120" src="{{ relURL " muws_logo_2025.webp" }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ $url := .RelPermalink }}
        {{ with .Site.Menus.main }}
        {{ range $menu := . }}
        <li class="nav-item">
          <a class="nav-link {{ if eq $url .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      {{ range where .Translations "Lang" "!=" .Site.Language.Lang }}
      <a href="{{ .Permalink }}" style="margin-bottom:7px;">
        {{ .Language.Params.flag | safeHTML }}
      </a>
      {{ end }}
      <span class="nav-brand fs-2 mb-3">
        <a href="https://www.linkedin.com/groups/13191025/" class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter"
            viewBox="0 0 16 16">
            <path
              d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm13 4l-1 4h-1v-1h-1l-1-4h-1v-1h1l1-4h1v-1h1l1 4h1v1h1l1 4h1v1h-1l1 4h-1v1h-1l-1-4h-1v-1h1z" />
          </svg>
        </a>
      </span>
    </div>
  </div>
</nav>